img[data-v-da8b9592]{position:absolute;width:100vh;opacity:.4;filter:blur(2px);top:0;right:0;bottom:0;left:0}.info[data-v-da8b9592]{font-size:25px;padding-left:1rem;border-left:3px solid var(--cyan)}
